.section{
    width: 100%;
    padding: 100px 20px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .info{
        text-align: center;
        color: var(--white);

        h2{
            font-size: 40px;
        }
    }

    @media screen and (max-width: 500px) {
        flex-wrap: wrap;

        .info{
            width: 100%;
            margin: 20px 0;

            h2{
                font-size: 25px;
            }
        }
    }
}