@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --lightBlue: rgb(146, 217, 247);
  --lightBlue50: rgba(146, 217, 247, 0.500);
  --lightBlue20: rgba(146, 217, 247, .2);
  --blue: rgb(84, 144, 204);
  --purple: rgb(137, 49, 137);
  --pink: rgb(94, 48, 146);
  --white: #ffffff;
}

*{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
html{
  scroll-behavior: smooth;
}
h1, h2{
  font-family: 'Anton', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}