.header{
    width: 100%;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--white);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.151);

    .areaImg{
        overflow: hidden;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 150px;
    }
    .imageHeader{
        height: 75px !important;
        max-height: 75px !important;
        min-height: 75px !important;
        object-fit: contain;
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .lista{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-right: 10px;

            .itemLista{
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                padding: 0 10px;
                font-weight: 600;
                color: var(--purple);
            }
        }
    }
}