.section{
    background-color: var(--white);
    padding: 50px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .areaContent{
        width: 65%;
        margin: 0 auto;
        
        .areaNome{
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid var(--purple);

            .numero{
                font-size: 240px;
                color: var(--purple);
                margin-right: 20px;
            }

            .titulo{
                font-size: 60px;
                color: var(--blue);
            }
        }

        .span{
            text-align: center;
            font-size: 20px;
            margin: 0 auto;
            color: var(--blue);
            margin-top: 20px;
        }
    }

    .areaLogo{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: var(--purple);
        opacity: .1;
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translateY(-50%);
    }

    @media screen and (max-width: 1100px) {
        .areaContent{
            width: 100%;

            .areaNome{

                .numero{

                    font-size: 200px;
                }

                .titulo{

                    font-size: 50px;
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        .areaContent{

            .areaNome{

                .numero{

                    font-size: 100px;
                }

                .titulo{

                    font-size: 30px;
                }
            }
        }
    }
}