.section{
    width: 100%;
    padding: 50px 5vw;

    .topArea{   
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .p{
            width: 45%;
            color: var(--purple);
            font-weight: 600;
        }

        .areaFoto{
            width: 45%;
            background-color: var(--blue);
            position: relative;
            padding-top: calc((9 /18) * 45%);
            margin-bottom: 20px;
        }

        @media screen and (max-width: 500px) {
            width: 100%;
            flex-wrap: wrap-reverse;

            .areaFoto{
                width: 100%;
                padding-top: calc((9 /18) * 100%);
            }

            .p{
                width: 100%;
            }
        }
    }

    .mapa{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.281);
    }
}
