.palestrante{
    width: 250px;
    margin: 0 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: .5s;
    opacity: 0;
    transform: translateY(10px);

    &.visible{
        opacity: 1;
        transform: translateY(0);

    }

    .areaImagem{
        width: 200px;
        height: 200px;
        background-color: var(--lightBlue);
        margin: 0 auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        overflow: hidden;

        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .tituloPalestrante{
        font-size: 18px;
        color: var(--blue);
    }

    .cargo{
        color: var(--purple);
        margin-bottom: 10px;
    }

    .p{
        font-size: 16px;
        color: var(--blue);
        text-align: justify;
    }
}