
.section{
    width: 100%;
    padding: 50px 5vw;
    background-color: var(--white);

    .titulo{
        color: var(--blue);
        font-size: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    .areaSubtitulo{
        padding: 10px 10px;
        background-color: var(--purple);
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        box-shadow: -5px 5px 0 var(--blue);

        .subtitulo{
            color: var(--white);
        }
    }


    .parceiros{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .parceiro{
            margin: 10px 20px;
            width: 200px;
            height: 110px;
            box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }

    @media screen and (max-width: 1100px) {

        .titulo{
            font-size: 30px;
        }

        .parceiros{
            justify-content: space-between;

            .parceiro{
                width: 30%;
                height: 70px;
                margin: 10px 0;
            }
        }
    }

    @media screen and (max-width: 500px) {

        .parceiros{

            .parceiro{
                width: 48%;
                height: 70px;
                margin: 10px 0;
            }
        }
    }
}