.section{
    background-color: var(--blue);
    width: 100%;
    padding: 50px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .areaImagem{
        background-color: var(--purple);
        width: 45%;
        padding-top: calc((9 / 16) * 45%);
        position: relative;
    }
    
    .areaInfo{
        width: 45%;

        .p{
            text-align: justify;
            color: var(--white);
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 145%;
        }
    }

    .space{
        width: 20px;
    }

    @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
        
        .areaImagem{
            width: 100%;
            margin-bottom: 20px;
            padding-top: calc((9 / 16) * 100%);
        }

        .areaInfo{
            width: 100%;

            .p{
                font-size: 14px;
            }
        }
    }
}